@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Добро пожаловать.</h1>
   <u><h3> <p><a class="nav-link text-dark" asp-area="" asp-controller="Orders" asp-action="Index">Список заказов</a></p></h3></u>
</div>
